<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelRplApp.Properties.Settings.DB_HOTEL_RPLConnectionString"
            connectionString="Data Source=DESKTOP-89MUICP;Initial Catalog=DB_HOTEL_RPL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>